<%- include include/header %>
<div class="container" style="margin-left: 150px" >
    <%
    articles.forEach(function(article){
    %>
    <a class="media-left" href="#">
        <img src="<%=article.userId.avatar%>">
    </a>
    <div class="media-body">
        <h4><a href="/article/view/<%=article._id%>"><%=article.title%></a></h4>
        <p class="media-left"><%- article.content%></p>
    </div>
    <div class="media-bottom">
        作者:<a href="/article/u/<%=article.userId._id%>"><%=article.userId.username%></a>
        发表时间:<%=article.createTime.minute%>
    </div>
    <%
    });
    %>
    <nav>
        <ul class="pagination">
            <%
            var num =0;
            if(pageNum %5==0){
                num = pageNum/5 -1;
            }else{
                num = Math.floor(pageNum/5);
            }
            var start = num *5+1;
            var end = start + 4>totalPage?totalPage:start+4;
            if(start >1){
            %><li><a href="/article/list/<%=start -1%>/<%=pageSize%>">&laquo;</a></li><%
            }
            for(var i=start;i<=end;i++){
            %>
            <li><a href="/article/list/<%=i%>/<%=pageSize%>"><%=i%></a></li>
            <%
            }
            if(totalPage>end){
            %><li><a href="/article/list/<%=end +1%>/<%=pageSize%>">&raquo;</a></li><%
            }
            %>
        </ul>
    </nav>
</div>

<%- include include/footer %>
